body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1366px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}
.availability{
position: absolute;
display: flex;
flex-direction:row;
align-items: center;
justify-content: space-around;
min-width: 40%;
width: 300px;
height: 100px;
left: 50%;
top: 2%;
background: #D66939;
}

.check_btn{
	background-color: #fff;
	color: #000000;
	text-align: center;
	padding: 10px;

}
.availability_btn{
	background: #000000;
	color: #fff;

}#detached{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#firstdiv{
	display: flex;
	flex-direction: column;
}
#seconddiv{
	display: flex;
	flex-direction: column;
}
.customer_no{
	width: 30px;
	justify-content: space-between;
}

#about{
	position: absolute;
	width: 180px;
	height: 59px;
	left: 63px;
	/*top: 1414px;*/
	font-family: Calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	color: #2C2C2C;
}
.text{
	position: absolute;
	/*width: 1366px;*/
	height: 228px;
	left: 62px;
	margin-top:120px;
	/*top: 1489px;*/
	font-family: Calibri;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 38px;
	letter-spacing: 0.035em;
	color: #343333;
}
.bt{
	position: absolute;
	width: 200px;
	height: 50px;
	left: 63px;
	/*top: 1753px;*/
	background: #D66939;
	margin-top:380px;
	font-family: Calibri;
	font-weight: bold;
	color: #000000;
	font-size: 24px;
	text-align: center;

}